In [1]:
#import pandas and sqlite
import pandas as pd
import sqlite3 as sl#connecct to database object
conn = sl.connect('Elections.db')
c = conn.cursor()

In [5]:
fivethirtyeight = pd.read_csv('presidential_polls.csv')
fivethirtyeight.columns

Index(['cycle', 'branch', 'type', 'matchup', 'forecastdate', 'state',
       'startdate', 'enddate', 'pollster', 'grade', 'samplesize', 'population',
       'poll_wt', 'rawpoll_clinton', 'rawpoll_trump', 'rawpoll_johnson',
       'rawpoll_mcmullin', 'adjpoll_clinton', 'adjpoll_trump',
       'adjpoll_johnson', 'adjpoll_mcmullin', 'multiversions', 'url',
       'poll_id', 'question_id', 'createddate', 'timestamp'],
      dtype='object')

In [7]:
c.execute('DROP TABLE IF EXISTS fivethirtyeight')
c.execute('CREATE TABLE fivethirtyeight (cycle str, branch str, type str, matchup str, forecastdate datetime, state str, startdate datetime, enddate datetime, pollster str, grade str, samplesize str, population str, poll_wt str, rawpoll_clinton, rawpoll_trump, rawpoll_johnson, rawpoll_mcmullin, adjpoll_clinton, adjpoll_trump, adjpoll_johnson, adjpoll_mcmullin, multiversions, url, poll_id, question_id, createdate datetime, timestamp datetime)')
conn.commit()

fivethirtyeight.to_sql('fivethirtyeight',conn, if_exists='replace')

In [9]:
df = pd.read_sql('''select * from fivethirtyeight limit 10;''',conn)
df

DatabaseError: Execution failed on sql 'select * from fivethirtheight limit 10;': no such table: fivethirtheight